@import "minima";
@import "cetei";

/* page break: thumbnail with caption that links to the facsimile. */

figure.-tei-pb {
  float: right;
  color:gray;
  margin-left: 1em;
  margin-right: 0;
}

.-tei-pb img {
  height: 80px;
}

.-tei-pb figcaption:before {
  content: "p. "; // add "p. " before page number
}
.-tei-pb figcaption {
  font-size: 11pt;
}
