@import "minima";

/* Facsimile viewer */

// TODO simplify the nested divs

#resizable {
  background-color: #EBEBEB;
  width: 1060px;
  height: 700px;
  overflow: hidden;
  padding: 0 1em .25em 0;
  resize: both;
}

div.facsimileImages {
  width: 100%;
  height: 98%;
  overflow-y: scroll;
  border: 1px solid black;
}

div.facsimileImages img {
  margin-top: .5em;
  max-width: 98% !important;
  // border: 1px solid #AAA;
}

div.facsimileImages img:first-child {
  margin-top: 0;
}
