// TODO use SCSS variables!

tei-listperson > tei-head {
  font-size: 32px;
  text-indent: -0.5em;
}
tei-listplace > tei-head {
  font-size: 32px;
  text-indent: -0.5em;
}
tei-listorg > tei-head {
  font-size: 32px;
  text-indent: -0.5em;
}

tei-person {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

tei-place {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

tei-org {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

tei-persName {
  font-size: 24px;
}
tei-placeName {
  font-size: 24px;
}
tei-orgName {
  font-size: 24px;
}
