@import "minima";
@import "cetei";

//@import "thumbnail";
@import "names";
@import "collection";

/* editorial */

tei-add {
}

tei-del[type='overstrike'] {
  text-decoration: line-through;
}

tei-unclear {
  background-color: #aaffaa;
}

tei-supplied {
//  background-color: teal;
}

tei-note[place='end'] a {
  color: red;
}

tei-note[type='gloss'] {
  background-color: gainsboro;
}

tei-fw[type='pageNum'] {
  background-color: lightgray;
  border-radius: 1em;
}

ol.notes {
  padding-top: 2em;
}

.mentions {
  font-size: smaller;
}
