/* imports */
/* @import url("shell.css"); */
@import url('http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic|Gentium+Book+Basic:400,400italic,700,700italic');
/* namespaces */
/* @namespace "http://www.tei-c.org/ns/1.0"; */
/* @namespace with prefix, as below, throws and error in less. */
/* @namespace html "http://www.w3.org/1999/xhtml"; */
/* Less variables */
.note-like {
  display: block;
  margin: 1.5em auto 1.5em auto;
  padding: .5em 1.5em 1.5em 1.5em;
  border: 1px solid black;
  border-radius: 15px;
  width: 325px;
  position: relative;
  border: 1px solid #AAA;
  background: #FAFAFA;
  /* reset text-indent for note with <l> ancestors. */
  text-indent: 0;
  font-size: 85%;
  text-align: justify;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
/* US Style Quotes */
.quotesUS {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
/* UK-Style Quotes */
.quotesUK {
  quotes: "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019";
}
.quotes {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
.block-margins {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
/* teibp classes */
.-teibp-thumbnail {
  max-height: 60px;
}
.-teibp-pb {
  display: block;
  width: 100%;
  text-align: right;
  color: gray;
  margin: 2em 0 2em 0;
  font-size: 11pt;
}
.resizable {
  resize: both;
}
@keyframes block-in {
  from {
    background-color: rgba(0, 0, 0, 0.5);
  }
  to {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
@-webkit-keyframes block-in {
  from {
    background-color: rgba(0, 0, 0, 0.5);
  }
  to {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
.blocker {
  z-index: 10000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: block-in 1s 1;
  -webkit-animation: block-in 1s 1;
  background-color: rgba(0, 0, 0, 0.8);
}
.box-shadow {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
.hide {
  display: none;
}
.mono {
  font-family: Courier,monospace;
}
.page-setup {
  margin-left: 2em;
  margin-right: 4em;
  padding: 2.5em;
  font-family: "Gentium Book Basic", Cochin, Georgia, Serif;
  font-size: 14pt;
  background-color: #EBEBEB;
  color: #292929;
  width: 33em;
}
.table-border {
  /*
border-left: 2px solid @border-color;
border-top:2px solid @border-color;
*/
  border: 1px dotted #AAA;
}

/* styles for html shell and html elements in TEI (e.g.,<a> and <img>) */
html > body {
  margin: 0;
  padding: 0;
}
html {
  margin: 0;
  padding: 0;
  margin-left: 2em;
  margin-right: 4em;
  padding: 2.5em;
  font-family: "Gentium Book Basic", Cochin, Georgia, Serif;
  font-size: 14pt;
  background-color: #EBEBEB;
  color: #292929;
  width: 33em;
}
img {
  border: 1px solid #AAA;
}
footer {
  margin-top: 1em;
  border-top: 1px solid #292929;
  padding-top: .5em;
  font-size: 12pt;
}
a:link,
a:visited,
a:active {
  color: #5f0000;
  text-decoration: none;
}
a:hover {
  color: #5f0000;
  text-decoration: underline;
}
#teibpToolbox {
  left: 56em;
  top: 25px;
  position: fixed;
  font-size: 70%;
  margin-right: 1em;
  padding: 1em;
  border-radius: 15px;
  border: 1px solid #AAA;
  background: #FAFAFA;
  font-family: Arvo, Verdana, sans-serif;
  text-align: justify;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  width: 12em;
}
#teibpToolbox h1 {
  font-weight: bold;
  font-size: 115%;
  margin-top: 0;
  margin-bottom: .5em;
  border-bottom: 1px solid #AAA;
}
/* xml-serialization */
.eg-element {
  color: #0165c8;
}
.eg-comment {
  color: gray;
}
.eg-att,
.eg-nsdecl {
  color: #f58650;
}
.eg-attvalue,
.eg-ns {
  color: #993300;
}
.eg-text {
  color: #292929;
}
/* loading animation */
#loading {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/transparentbg.png");
}
/* facsViewer */
#resizable {
  background-color: #EBEBEB;
  width: 550px;
  height: 700px;
  overflow: hidden;
  padding: 0 1em .25em 0;
  resize: both;
}
div.facsImage {
  width: 100%;
  height: 98%;
  overflow-y: scroll;
  border: 1px solid black;
}
div.facsImage img {
  max-width: 98% !important;
  margin-top: .5em;
}
div.facsImage img:first-child {
  margin-top: 0;
}
.head-font {
  font-family: Arvo, sans-serif;
  font-weight: normal;
}
