@import "teibp-orig";
@import "teibp-elements";

//@import "minima";

html {
    width: 55em;
    box-sizing: border-box;
    color: black;
    background: white;
    font-size: 18px;
    font-family: Calibri, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

seriesStmt {
  display: block;
}

TEI text p a:link {
    color: #1614ff;
}
TEI text p a:visited {
    color: #1614ff;
}

[lang="he"] {
    direction: rtl;
    text-align: right;
}

.-teibp-pb {
    display: block;
    width: 100%;
    text-align: end;
    color: gray;
    margin: 2em 0 2em 0;
    font-size: 11pt;
}

/* facsViewer */
#resizable {
    background-color: #EBEBEB;
    width: 1060px;
    height: 1000px;
    overflow: hidden;
    padding: 0 1em .25em 0;
    resize: both;
}
