---
---

$content-width:    1800px;

@import "minima";

/* Keep header visible */
th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/* Size the columns */
th:nth-child(1) { width: 45%; } // description
th:nth-child(2) { width:  7%; } // date
th:nth-child(3) { width: 10%; } // author
th:nth-child(4) { width: 10%; } // addressee
th:nth-child(5) { width:  4%; } // language
th:nth-child(6) { width:  5%; } // document
th:nth-child(7) { width:  8%; } // pages
//th:nth-child(8) { width:  5%; } // transcriber

/* Part title */
.part-title {
  font-weight: 700;
  font-size: 32px;
  color: #1614ff;
}

/* Missing page links */
a.missing-page {
  color: red;
}

table a {
  target: "documentViewer";
}
