---
---

$content-width:    1800px;

@import "minima";

#documents-table {
  border: 1px solid black;
  margin-bottom: 20px;
  text-align: left;
}

th {
  padding: 10px;
  background: #e6e4da;
  color: black;

  /* Keep header visible */
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
}

td {
  padding: 10px;
  border: 1px solid black;
}

th:nth-child(1) { width: 45%;   } // description
th:nth-child(2) { width: 140px; } // date
th:nth-child(3) { width: 160px; } // author
th:nth-child(4) { width: 50px;  } // language
th:nth-child(5) { width: 80px;  } // document
th:nth-child(6) { width: 15%;   } // pages
th:nth-child(7) { width: 30px;  } // transcriber

a.missing-page {
  color: red;
}

.part-title {
  font-weight: 700;
  font-size: 32px;
  color: #1614ff;
}
