---
---

@import "minima";
@import "cetei";

tei-note {
  background-color: lightgray;
}

tei-del[type='overstrike'] {
  text-decoration: line-through;
}

tei-unclear {
  background-color: #aaffaa;
}

/* page break: thumbnail with caption that links to the facsimile viewer. */

.facsimileThumbnail figure {
  float: right;
  margin-left: 1em;
}

.facsimileThumbnail img {
  height: 60px;
}
