---
---

@import "minima";
@import "cetei";

/* page break: thumbnail with caption that links to the facsimile viewer. */

.-tei-pb figure {
  float: right;
  margin-left: 1em;
}

.-tei-pb img {
  height: 60px;
}
